.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-gray-light-1);
    box-shadow: var(--shadow-dark);

    // Controle para quando a tela for menor que 1200 px.
    @media only screen and (max-width: $break-point-largest) {
        // Neste ponto remove a margem ao redor de toda a tela, fazendo
        // sumir a cor rosa de fora.
        margin: 0;

        // Aqui foi colocado porque quando diminuimos o tamanho da fonte
        // no arquivo base, acabou diminuindo o tamanho total da largura
        // fazendo com que apenas a margem 0 não funcionasse para esse caso,
        // então forcamos para que ocupe 100% do espaço.
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;

    // Controle para quando a tela for menor que 900 px.
    @media only screen and (max-width: $break-point-medium) {
        // neste ponto iremos alterar o menu para ficar em cima do conteúdo, e não mais na lateral.
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-gray-dark-1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 18%; // Significa que não vai aumentar o tamanho, não vai diminuir, e o tamanho é de 18%.
}

.hotel-view {
    background-color: #fff;

    flex: 1; // Significa que vai ser o restante do espaço, alem dos 18%, ou seja, 82%.
}

.detail {
    display: flex;
    font-size: 1.4rem;
    padding: 4.5rem;
    background-color: var(--color-gray-light-1);
    border-bottom: var(--line);

    // Controle para quando a tela for menor que 900 px.
    @media only screen and (max-width: $break-point-medium) {
        padding: 3rem;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    // Controle para quando a tela for menor que 900 px.
    @media only screen and (max-width: $break-point-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}